/* Cairo font-face declarations for Flutter web to avoid loading warnings */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('assets/fonts/Cairo-Thin.ttf') format('truetype'),
       url('assets/assets/fonts/Cairo-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('assets/fonts/Cairo-ExtraLight.ttf') format('truetype'),
       url('assets/assets/fonts/Cairo-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('assets/fonts/Cairo-Light.ttf') format('truetype'),
       url('assets/assets/fonts/Cairo-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/Cairo-Regular.ttf') format('truetype'),
       url('assets/assets/fonts/Cairo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('assets/fonts/Cairo-Medium.ttf') format('truetype'),
       url('assets/assets/fonts/Cairo-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('assets/fonts/Cairo-SemiBold.ttf') format('truetype'),
       url('assets/assets/fonts/Cairo-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('assets/fonts/Cairo-Bold.ttf') format('truetype'),
       url('assets/assets/fonts/Cairo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('assets/fonts/Cairo-ExtraBold.ttf') format('truetype'),
       url('assets/assets/fonts/Cairo-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('assets/fonts/Cairo-Black.ttf') format('truetype'),
       url('assets/assets/fonts/Cairo-Black.ttf') format('truetype');
}
